<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profil</title>
  <th:block th:insert="~{fragments/base.html :: head}"/>
</head>
<body>
<header th:replace="fragments/base.html :: header"></header>
<div class="container">
  <div class="row col-12 text-center my-3">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 th:text="${joueur.nom}+' '+${joueur.prenom}" class="card-title"></h5>
        <p th:text="${joueur.mail}" class="card-text"></p>
        <p th:text="'Classement : '+${classement.score}" class="card-text"></p>

      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped table-dark text-center">
      <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Joueur 1</th>
        <th>Joueur 2</th>
        <th>Statut</th>
        <th>Résultat</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="partie : ${parties}" >
        <td th:text="${partie.id}"></td>
        <td th:text="${#dates.format(partie.date,'dd-MMM-yyyy')}"></td>
        <td th:text="${partie.joueur1.prenom}+' '+${partie.joueur1.nom}"></td>
        <td th:text="${partie.joueur2.prenom}+' '+${partie.joueur2.nom}"></td>
        <td th:text="${partie.statut == 1 ? 'Déjà joué' : 'Pas encore joué'}"></td>
        <td th:text="${partie.statut == 1 ? 'Joueur 1 à gagné' : (partie.statut == 2 ? 'Match nul' : (partie.statut == 3 ? 'Joueur 2 à gagné' : 'Pas de résultat'))}"></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

</body>
</html>